/SysSeguridad.AccesoADatos/nbproject/private/
/SysSeguridad.AppWeb/build/
/SysSeguridad.AccesoADatos/build/
/SysSeguridad.AppDesktop/build/
/SysSeguridad.EntidadesDeNegocio/build/
/SysSeguridad.EntidadesDeNegocio/dist/
/SysSeguridad.AppWeb/nbproject/private/
/SysSeguridad.AppDesktop/nbproject/private/
/SysSeguridad.AccesoADatos/dist/
